# --- Android Studio / IntelliJ Standartları ---
*.iml
.gradle
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# --- Local Configuration ---
local.properties

# --- Güvenlik ---
*.jks
*.keystore
*.p12
*.key

# --- Google Services ---
google-services.json
GoogleService-Info.plist

# --- Derleme Çıktıları ---
*.apk
*.aab
*.ap_
*.dex

# --- Log Dosyaları ---
*.log
/.kotlin
